@import "tailwindcss";

:root {
  --background: #151515;
  --foreground: #FFFFFF;
  --accent: #CAFA43;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

/* Custom Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 20px;
}